doctype html
// [if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]
// [if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]
// [if IE 8]>         <html class="no-js lt-ie9"> <![endif]
// [if gt IE 8]><!
html.no-js
  //<![endif]
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    base(href="/")
    title AUDB &mdash; The Auburn Football Database
    meta(name="description", content="Auburn football record lookup, attendance tracking, recruiting and depth chart information.")
    meta(name="keywords", content="auburn, auburn football, war eagle, audb, auburn database")
    meta(name="viewport", content="user-scalable=no, initial-scale=1.0")
    meta(name="apple-mobile-web-app-capable", content="yes")
    meta(name="apple-mobile-web-app-title", content="AUDB")
    meta(name="apple-mobile-web-app-status-bar-style", content="black")
    meta(name="format-detection", content="telephone=no")
    link(rel="apple-touch-icon-precomposed", href="images/audb.png")
    link(rel="apple-touch-startup-image", href="images/splash.png")
    link(rel="stylesheet", href="bower_components/select2/select2.css")
    // Place favicon.ico and apple-touch-icon.png in the root directory
    <!-- build:css(app) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/sass-bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="bower_components/select2/select2.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css({.tmp,app}) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  body(ng-app="audbApp")
    //[if lt IE 7]>
      <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
      <![endif]
    //[if lt IE 9]>
      <script src="bower_components/es5-shim/es5-shim.js"></script>
      <script src="bower_components/json3/lib/json3.min.js"></script>
      <![endif]

    // Add your site or application content here
    nav(role='navigation', ng-controller='NavbarCtrl').navbar.navbar-default
      div.navbar-header
        button(type='button', class='navbar-toggle', data-toggle='collapse', data-target='#nav-menu-collapse')
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a(href='#').navbar-brand AUDB
      div.collapse.navbar-collapse#nav-menu-collapse
        ul.nav.navbar-nav
          li(ng-cloak, ng-show='isSmallScreen', ng-repeat='item in menu', ng-class='{active: isActive(item.link)}')
            a(ng-href='{{item.link}}', ng-click='hideMenu()') {{item.title}}
          li(ng-cloak, ng-hide='isSmallScreen', ng-repeat='item in menu', ng-class='{active: isActive(item.link)}')
            a(ng-href='{{item.link}}') {{item.title}}
          li(ng-cloak, ng-show='isSmallScreen && !currentUser', ng-class="{active: isActive('/login')}") Login
            a(href='/login') Login
          li(ng-cloak, ng-show='isSmallScreen && currentUser', class='checkin-button-li')
            a(ng-click='checkIn()', role='button', class='btn btn-au', data-target='#checkinModal', ng-disabled='isCheckedIn') <span class="glyphicon glyphicon-ok"></span>
          li(ng-cloak, ng-show='isSmallScreen && currentUser')
            a(ng-click='changePwModal()') Change Password
          li(ng-cloak, ng-show='isSmallScreen && currentUser', ng-class="{active: isActive('/logout')}")
            a(ng-click='logout()') Logout {{currentUser.name}}
              
        ul(ng-cloak, ng-hide='isSmallScreen').nav.navbar-nav.pull-right
          li(ng-cloak, ng-hide='currentUser')
            a(ng-click='keyboardModal()') Keyboard Shortcuts (k)
          li(ng-cloak, ng-hide='currentUser', ng-class="{active: isActive('/login')}")
            a(href='/login') Login
          li(ng-cloak, ng-show='currentUser', class='checkin-button-li')
                a(ng-click='checkIn()', role='button', class='btn btn-au', data-target='#checkinModal', ng-disabled='isCheckedIn') <span class="glyphicon glyphicon-ok"></span>
          li(ng-show='currentUser' class='dropdown')
            a(href='#', data-toggle='dropdown').dropdown-toggle {{currentUser.name}} <b class="caret"></b>
            ul.dropdown-menu
              li(ng-cloak, ng-show='currentUser')
                a(ng-click='keyboardModal()') Keyboard Shortcuts (k)
              li(ng-cloak, ng-show='currentUser', ng-class="{active: isActive('/logout')}")
                a(ng-click='changePwModal()', data-target='#checkinModal') Change Password
              li(ng-class="{active: isActive('/logout')}")
                a(ng-click='logout()') Logout
            
    div(ng-view).container.main-container
    
    div(ng-controller='NavbarCtrl', class='modal fade', id='checkinModal', tabindex='-1', role='dialog', aria-hidden='true')
      div(class='modal-dialog')
        div(class='modal-content').align-center
          div(class='modal-header')
            button(type='button' class='close' data-dismiss='modal' aria-hidden='true') &times;
            h3.modal-title Check In
          
          div(class='modal-body')
            p(ng-show='gameDay && (legitCheckin !== 2) && (legitCheckin !== 3)') Looks like it's Auburn vs. {{todaysGame.Opponent}} today. Let's check you in...
            p(ng-hide='gameDay || (legitCheckin !== 1)') Sorry, but it doesn't look like Auburn is playing a game near you today. :(
            p(ng-show='gameDay && (legitCheckin === 2)') OK, we've got you checked in! War Eagle!
            p(ng-show='gameDay && (legitCheckin === 3)') No worries, you have aleady checked in for today's game.

            div(ng-show='gameDay')#map-canvas
          div(class='modal-footer')
            button(type='button', class='btn btn-default', data-dismiss='modal') Close

    div(ng-controller='ChangepwCtrl', class='modal fade', id='changePwModal', tabindex='-1', role='dialog', aria-hidden='true')
      div(class='modal-dialog')
        div(class='modal-content').align-center
          div(class='modal-header')
            button(type='button' class='close' data-dismiss='modal' aria-hidden='true') &times;
            h3.modal-title Change Password
          
          div(class='modal-body')
            .col-sm-12
              form.form(name='form', ng-hide='pwChanged', ng-submit='changepw(form)', novalidate='novalidate')

                .form-group
                  label Old Password
                  input.form-control(type='password', name='password', ng-model='user.oldPassword', placeholder='Old Password')

                .form-group
                  label New Password
                  input.form-control(type='password', name='password', ng-model='user.newPassword', placeholder='New Password')

                .form-group.has-error
                  p.help-block(ng-show='form.email.$error.required && form.password.$error.required && submitted')
                    | Please enter your email and password.
                  p.help-block {{ errors.other }}

                button.btn.btn-lg.btn-primary(type='submit')  Submit
                span.clearfix

              h4(ng-show='pwChanged') Thanks! Your password has been changed.

          div(class='modal-footer')
            button(type='button', class='btn btn-default', data-dismiss='modal') Close

    div(ng-if='!isSmallScreen', ng-controller='NavbarCtrl', class='modal fade', id='keyboardModal', tabindex='-1', role='dialog', aria-hidden='true')
      div(class='modal-dialog big-modal')
        div(class='modal-content').align-center
          div(class='modal-header')
            button(type='button' class='close' data-dismiss='modal' aria-hidden='true') &times;
            h3.modal-title Keyboard Shortcuts
          
          div(class='modal-body')
            .row
              .col-sm-6
                table.table.table-condensed.table-responsive
                  thead.align-left
                    tr
                      td(colspan='2') 
                        strong Global
                    tr
                      th Key
                      th Action
                  tbody.align-left
                    tr
                      td g then h
                      td Go to Home page
                    tr
                      td g then s
                      td Go to Stats Page
                    tr
                      td g then y
                      td Go to Yearly Results Page
                    tr
                      td g then d
                      td Go to Depth Chart
                    tr
                      td g then r
                      td Go to Recruiting Page
                    tr
                      td k
                      td Show/hide this screen
                table.table.table-condensed.table-responsive
                  thead.align-left
                    tr
                      td(colspan='2') 
                        strong Stats Page
                    tr
                      th Key
                      th Action
                  tbody.align-left
                    tr
                      td s
                      td Place cursor in team select box
                    tr
                      td Shift+Enter
                      td Submit (works even if cursor is in team select field)
                    tr
                      td r
                      td Reset form
              .col-sm-6
                table.table.table-condensed.table-responsive
                  thead.align-left
                    tr
                      td(colspan='2') 
                        strong Yearly Results Page
                    tr
                      th Key
                      th Action
                  tbody.align-left
                    tr
                      td
                        span.glyphicon.glyphicon-arrow-left
                      td View previous year
                    tr
                      td
                        span.glyphicon.glyphicon-arrow-right
                      td View next year
                table.table.table-condensed.table-responsive
                  thead.align-left
                    tr
                      td(colspan='2') 
                        strong Recruiting Page
                    tr
                      th Key
                      th Action
                  tbody.align-left
                    tr
                      td
                        span.glyphicon.glyphicon-arrow-left
                      td View previous recruiting class
                    tr
                      td
                        span.glyphicon.glyphicon-arrow-right
                      td View next recruiting class
                    tr
                      td n
                      td Sort by Name
                    tr
                      td p
                      td Sort by Position
                    tr
                      td h
                      td Sort by Hometown
                    tr
                      td Shift+H
                      td Sort by High School
                    tr
                      td r
                      td Sort by Rivals <span class="glyphicon glyphicon-star"></span>
                    tr
                      td s
                      td Sort by Scout <span class="glyphicon glyphicon-star"></span>
                    tr
                      td Shift+R
                      td Sort by Rivals Rank
                    tr
                      td Shift+S
                      td Sort by Scout Rank

          div(class='modal-footer')
            button(type='button', class='btn btn-default', data-dismiss='modal') Close

    div(ng-controller='NavbarCtrl', class='modal fade', id='td-au-modal', tabindex='-1', role='dialog', aria-hidden='true')
      div(class='modal-dialog big-modal')
        div(class='modal-content').align-center
          div(class='modal-header')
            button(type='button' class='close' data-dismiss='modal' aria-hidden='true') &times;
            h3.modal-title TOUCHDOWN AUBURN!
          
          div(class='modal-body')
            img(src='').modal-td-pic

            div(ng-show='gameDay')#map-canvas
          div(class='modal-footer')
            button(type='button', class='btn btn-default', data-dismiss='modal') Close

    audio(id='td-au', src='images/tdau.wav')

    div.loader
      .loading

    // Google Analytics: change UA-XXXXX-X to be your site's ID.
    script.
      var _gaq=[['_setAccount','UA-32843596-1'],['_trackPageview']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
      g.src='//www.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g,s)}(document,'script'));

    // Typekit
    script.
      (function() {
        var config = {
          kitId: 'imv1jti',
          scriptTimeout: 3000
        };
        var h=document.getElementsByTagName("html")[0];h.className+=" wf-loading";var t=setTimeout(function(){h.className=h.className.replace(/(\s|^)wf-loading(\s|$)/g," ");h.className+=" wf-inactive"},config.scriptTimeout);var tk=document.createElement("script"),d=false;tk.src='//use.typekit.net/'+config.kitId+'.js';tk.type="text/javascript";tk.async="true";tk.onload=tk.onreadystatechange=function(){var a=this.readyState;if(d||a&&a!="complete"&&a!="loaded")return;d=true;clearTimeout(t);try{Typekit.load(config)}catch(b){}};var s=document.getElementsByTagName("script")[0];s.parentNode.insertBefore(tk,s)
      })();

    // Google Maps
    script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBfzsOwj_ybkgskB60mqjTTrrXnASWXTUE&sensor=true")

    script.
      window.addEventListener('load', function () {
        FastClick.attach(document.body);
      }, false);
    <!-- build:js(app) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/modernizr/modernizr.js"></script>
    <script src="bower_components/jquery/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/sass-bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/angular-local-storage/angular-local-storage.js"></script>
    <script src="bower_components/select2/select2.js"></script>
    <script src="bower_components/angular-ui-select2/src/select2.js"></script>
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/app.js"></script>
    <script src="scripts/controllers/main.js"></script>
    <script src="scripts/controllers/navbar.js"></script>
    <script src="scripts/controllers/login.js"></script>
    <script src="scripts/controllers/signup.js"></script>
    <script src="scripts/services/auth.js"></script>
    <script src="scripts/services/session.js"></script>
    <script src="scripts/services/user.js"></script>
    <script src="scripts/services/keyboardManager.js"></script>
    <script src="scripts/directives/mongooseError.js"></script>
    <script src="scripts/controllers/yearly.js"></script>
    <script src="scripts/controllers/depth.js"></script>
    <script src="scripts/controllers/recruits.js"></script>
    <script src="scripts/controllers/stats.js"></script>
    <script src="scripts/controllers/changepw.js"></script>
    <!-- endbuild -->
    script(src='bower_components/fastclick/lib/fastclick.js')
    
